In [7]:
myName = 'Katherine'
firstName = 'Kat'
secondName = 'Hillard'
fullName = firstName + ' ' + secondName
print (fullName)

Kat Hillard

In [14]:
random = 'Katherine gibberishalkshfberhuvhrtvhfwhfefefj'
random[2:]

'therine gibberishalkshfberhuvhrtvhfwhfefefj'

In [21]:
shoppingList = 'eggs, carrots, milk, cherries, apples'
shoppingList2 = ['eggs', 'carrots', 'milk', 'cherries', 'apples']
print (shoppingList2)
shoppingList2[2]

['eggs', 'carrots', 'milk', 'cherries', 'apples']

'milk'

In [22]:
shoppingList2[2]

'milk'

In [23]:
shoppingList2[1]

'carrots'

In [24]:
shoppingList2[3]

'cherries'

In [3]:
shoppingList2 = ['eggs', 'carrots', 'milk', 'cherries', 'apples']
shoppingList2[2] = 'chocolate'
print (shoppingList2)

['eggs', 'carrots', 'chocolate', 'cherries', 'apples']

In [20]:
shoppingList2 = ['eggs', 'carrots', 'milk', 'chocolate', 'cherries', 'apples']
del shoppingList2[0]
print (shoppingList2)

['carrots', 'milk', 'chocolate', 'cherries', 'apples']

In [7]:
array1 =[23,54,64]
array2 =[43,23]

array3 = array1 + array2
print (array3)

[23, 54, 64, 43, 23]

In [8]:
len(shoppingList2)

4

In [9]:
numArray = [36,75,10004,1,-5]
max(numArray)
print (max(numArray))

10004

In [10]:
min(numArray)
print (min(numArray))

-5

In [22]:
shoppingList2.append('brocolli')
print (shoppingList2)

['carrots', 'milk', 'chocolate', 'cherries', 'apples', 'brocolli']

In [21]:
shoppingList2.count('chocolate')

1

In [26]:
student = {'Mal':17,'Evie':17,'Mia':18,'Emma':16,'Kimberly':34,'Katherine':33,'Gia':16,'Emily':18,'Ben':17,'Doug':17,'Jayden':18,'Troy':16,'Tommy':34,'Jake':16,'Mike':18, 'Billy':45, 'Chad':17}
student['Chad']

17

In [27]:
student['Billy']= 46
student['Billy']

46

In [28]:
del student['Billy']
print (student)

{'Mal': 17, 'Evie': 17, 'Mia': 18, 'Emma': 16, 'Kimberly': 34, 'Katherine': 33, 'Gia': 16, 'Emily': 18, 'Ben': 17, 'Doug': 17, 'Jayden': 18, 'Troy': 16, 'Tommy': 34, 'Jake': 16, 'Mike': 18, 'Chad': 17}

In [3]:
print ('Hi!')

Hi!

In [1]:
student = {'Mal':17,'Evie':17,'Lonnie':17,'Jane':17,'Mia':18,'Emma':16,'Kimberly':34,'Katherine':33,'Gia':16,'Emily':18,'Ben':17,'Doug':17,'Jay':17,'Carlos':17,'Jayden':18,'Troy':16,'Tommy':34,'Jake':16,'Mike':18, 'Billy':45, 'Chad':17}
student['Chad']

17

In [4]:
students ={'Jobs':15,'Marc':24,'Avi':14}
students.clear()
print (students)

{}

In [6]:
students = {'Mal':17,'Evie':17,'Lonnie':17,'Jane':17,'Mia':18,'Emma':16,'Kimberly':34,'Katherine':33,'Gia':16,'Emily':18,'Ben':17,'Doug':17,'Jay':17,'Carlos':17,'Jayden':18,'Troy':16,'Tommy':34,'Jake':16,'Mike':18, 'Billy':45, 'Chad':17}
len(students)

21

In [7]:
students.keys()

dict_keys(['Mal', 'Evie', 'Lonnie', 'Jane', 'Mia', 'Emma', 'Kimberly', 'Katherine', 'Gia', 'Emily', 'Ben', 'Doug', 'Jay', 'Carlos', 'Jayden', 'Troy', 'Tommy', 'Jake', 'Mike', 'Billy', 'Chad'])

In [12]:
students.values()

dict_values([17, 17, 17, 17, 18, 16, 34, 33, 16, 18, 17, 17, 17, 17, 18, 16, 34, 16, 18, 45, 17, 21, 21, 15, -861, 17, 71, 21, 21])

In [13]:
students2 = {'Hiccup':21,'Astrid':21,'Minden':21,'Snotlout':21,'Arestella':15,'Harry':17,'Uma':17, 'Ursula':71}
students.update(students2)
print (students)

{'Mal': 17, 'Evie': 17, 'Lonnie': 17, 'Jane': 17, 'Mia': 18, 'Emma': 16, 'Kimberly': 34, 'Katherine': 33, 'Gia': 16, 'Emily': 18, 'Ben': 17, 'Doug': 17, 'Jay': 17, 'Carlos': 17, 'Jayden': 18, 'Troy': 16, 'Tommy': 34, 'Jake': 16, 'Mike': 18, 'Billy': 45, 'Chad': 17, 'Hiccup': 21, 'Astrid': 21, 'Arestella': 15, 'Harry': 17, 'Uma': 17, 'Ursula': 71, 'Minden': 21, 'Snotlout': 21}

In [14]:
tup1 = ('Maths',23,'Dogs')
del tup1['Maths']

TypeError: 'tuple' object does not support item deletion

In [16]:
tup1 = ('Cheese')
print (tup1)

Cheese

In [19]:
tup1[0]

'Maths'

In [20]:
tup1[1]

23

In [21]:
tup1[0:2]

('Maths', 23)

In [23]:
tup1[0:3]

('Maths', 23, 'Dogs')

In [24]:
del tup1
tup1 = ('Maths',23,'Dogs')